@import url('https://fonts.googleapis.com/css2?family=Laila');

* {
	box-sizing: border-box;
	font-family: Laila;
}

*:not(ol):not(ul):not(li) {
	margin: 0;
}

::selection {
	color: whitesmoke;
	background: #e13c73aa;
}

::-webkit-scrollbar {
	background: #3451;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #3455;
}

::-webkit-scrollbar-thumb:hover {
	background: #3459;
}

body {
	background: url(../images/bg.jpg);
}
